<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Rain | made by Nico</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="https://cdn.glitch.com/a639612e-6854-4f12-bc78-fd8f0d99cf8c%2Ffavicon%20(3).ico?1534904174142"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/normalize.css@8.0.0/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/rain.css">
	</head>
	<body>
    <a href ="/" id="menu"><div>🎏</div></a>
		<script src="/js/objs/three.js"></script>
		<script src="/js/objs/projector.js"></script>
		<script src="/js/objs/canvas-renderer.js"></script>
		<script src="/js/rain.js"></script>
	</body>
</html>