<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sea | made by Nico</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/155/water-wave_1f30a.png"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/normalize.css@8.0.0/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/sea.css">
	</head>
	<body>
    <a href ="/" id="menu"><div>🎏</div></a>
		<script src="/js/objs/three.js"></script>
		<script src="/js/objs/projector.js"></script>
		<script src="/js/objs/water.js"></script>
		<script src="/js/objs/sky-render.js"></script>
		<script src="/js/sea.js"></script>
	</body>
</html>