<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Space | made by Nico</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="https://cdn.glitch.com/6d47b3f3-15b8-4d41-ad50-f9401820bbde%2Ffavicon%20(2).ico?1534570955618"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/normalize.css@8.0.0/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/space.css">
	</head>
	<body>
    <a href ="/" id="menu"><div>🎏</div></a>
		<script src="/js/objs/three.js"></script>
		<script src="/js/objs/projector.js"></script>
		<script src="/js/objs/canvas-renderer.js"></script>
		<script src="/js/space.js"></script>
	</body>
</html>
