body {
  font-family: "Source Code Pro", monospaced;
  font-size: 18px;
  width: 100%;
  height: 100%;
  margin: 0px 0px;
  padding: 0px;
  background: #102e54; /* Old browsers */
  background: -moz-linear-gradient(top, #102e54 0%, #2e9df2 70%, #76dbc2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #102e54 0%,#2e9df2 70%,#76dbc2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #102e54 0%,#2e9df2 70%,#76dbc2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#102e54', endColorstr='#76dbc2',GradientType=0 ); /* IE6-9 */
}


div#info {
  position:fixed;
  bottom:20px;
  right:20px;
  padding: 10px;
  text-align: right;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

zen {
  height: 100%;
  width: 100%;
}

a#menu {
  font-size: 36px;
  position:fixed;
  bottom:18px;
  left:18px;
  padding: 3px;
  border-radius: 4px;
  transition: background-color 400ms ease-out;
}

a#menu:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 400ms ease-out;
}